# VAPID Keys for Push Notifications
# Public Key: BJOzr0pI9wfDB1qAGofmejVn3uZJerEOKlpvy096xPIToYa1PupbfUorgX7d6oARc_exoO7xnHECcrMop87oHj4
# Private Key: BWhcHLRyQxipwD6VmS0D3eYODoKg3H1OBXan028S4OA
VAPID_PUBLIC_KEY=BJOzr0pI9wfDB1qAGofmejVn3uZJerEOKlpvy096xPIToYa1PupbfUorgX7d6oARc_exoO7xnHECcrMop87oHj4
VAPID_PRIVATE_KEY=BWhcHLRyQxipwD6VmS0D3eYODoKg3H1OBXan028S4OA
VAPID_EMAIL=mailto:movatemassinga@gmail.com
